@font-face {
  font-family: "Borna";
  src: url("./Fonts/Web/webfontkit/borna-regular-webfont.ttf");
}
@font-face {
  font-family: "Borna-SemiBold";
  src: url("./Fonts/Web/webfontkit/borna-semibold-webfont.ttf");
}

.App {
  font-family: "Borna";
}

.tiza {
  background-color: #f3f4ef;
}
